.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 5rem;
  font-size: 0.8125rem;
  background-color: rgba(5, 56, 134);
  color: white;
}

.footerInliner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.footerInlinerLonger {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.editLink:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 900px) {
  .footerInliner {
    width: 900px;
  }
}
@media only screen and (min-width: 1200px) {
  .footerInlinerLonger {
    width: 1200px;
  }
}

@media only screen and (max-width: 30rem) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 5rem;
    font-size: 0.6125rem;
    background-color: rgba(5, 56, 134);
    color: white;
  }

  .footerInliner {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .footerInlinerLonger {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
