.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 4px 12px rgb(10 41 57 / 8%);
}

.padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1.6;
  line-height: 1.6;
  width: 100%;
  background-color: rgba(5, 56, 134);
}

.paddingText {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 4px 36px;
}

.paddingTextBold {
  padding-right: 10px;
  font-weight: bold;
}

.content {
  display: flex;
  flex: 2;
  width: 100%;
  padding: 10px 36px;
  align-items: center;
  justify-content: space-between;
}

/* before css */
/* .logoText {
  display: block;
  padding: 0 0rem;
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 700;
} */

.logoText {
  display: block;
  padding: 0 0rem;
  font-size: 1.5rem;
  line-height: 1.375;
  color: rgb(71, 81, 92);
}

@media (min-width: 1200px) {
  .content,
  .paddingText {
    width: 1200px;
  }
}

.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  margin-right: 1.5rem;
}

.content li {
  margin-left: 2rem;
  color: rgb(71, 81, 92);
}

@media only screen and (max-width: 30rem) {
  .content ul {
    display: none;
  }
  .paddingText {
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 4px 20px;
  }
  .content {
    display: flex;
    flex: 2;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
  }
  .logoText {
    display: block;
    padding: 0 0rem;
    font-size: 1.25rem;
    line-height: 1.25;
    color: rgb(71, 81, 92);
  }
}
