.maps {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.map {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.mapTitleBox {
  display: flex;
  flex-direction: row;
}

.mapTitle {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 15px;
}

@media only screen and (max-width: 700px) {
  .maps {
    flex-direction: column;
  }
}
