.radioTagsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(71, 81, 92);
}

.radioTagWrapper {
  display: inline-block;
  color: rgb(71, 81, 92);
}

.span {
  font-weight: bold;
}
