.cardContainer {
  display: flex;
  flex: 1;
  width: 100%;
}

.card {
  display: flex;
  flex: 1;
  width: 100%;
}

.cardFront,
.cardBack {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  flex: 1;
  width: 100%;
  height: 100%;
  /* height: 200px; */
  border-radius: 5px;
  /* padding: 24px; */
  padding: 24px 18px;
}

.cardFront {
  background-color: rgb(240, 244, 247);
}

.cardBack {
  background-color: rgb(230, 237, 241);
  border: solid 1px rgb(140, 150, 163);
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 30rem) {
  .cardFront {
    height: 211px;
    align-items: center;
  }

  .cardBack {
    height: 211px;
  }
}
