.cardRoot {
  display: flex;
  gap: 32px;
  margin: 20px 0;
}

.imageWrapper {
  display: flex;
  flex-shrink: 0;
  border: 4px solid rgb(213, 218, 227);
  padding: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.summaryTitle {
  color: #265ed4;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.summaryTitle:hover {
  text-decoration: underline;
}

.content strong {
  margin-top: 2px;
  font-size: 16px;
  color: #47515c;
}

.content p {
  margin-top: 12px;
}

.link {
  margin-top: 10px;
  color: #265ed4;
  font-weight: 400;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.linkIcon {
  outline-color: rgb(38, 94, 212);
}

@media only screen and (max-width: 30rem) {
  .imageWrapper {
    visibility: hidden;
    display: none;
  }
}
