.radioTag {
  margin-bottom: 5px;
}

.inputTitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}

.textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  resize: none;
  min-height: fit-content;
  background-color: white;
  border-radius: 7px;
  overflow-y: auto;
  min-height: 200;
  line-height: 1.6;
  vertical-align: middle;
  color: #000000;
  font-size: 16px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;
  margin-top: 10px;
}

.LoaderWrapper {
  display: flex;
  width: 138.69px;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 10px;
  border: solid;
  border-radius: 7px;
  border-width: 1px;
  background-color: #0289d1;
  border-color: #0288d1;
  cursor: not-allowed;
}

.LoaderWrapper span {
  color: white;
  font-size: 13.3333px;
}

.buttons input[type='button'] {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: solid;
  border-radius: 7px;
  border-width: 1px;
  background-color: #0288d1;
  border-color: #0288d1;
  color: white;
}

.buttons input[type='button']:hover {
  background-color: #017abc;
  border-color: #017abc;
  cursor: pointer;
}

.output {
  margin-top: 10px;
  padding: 10px 0px;

  border-radius: 7px;
  border-width: 1px;
  border-color: #0288d1;
}

.outputTitle {
  font-size: 17px;
}

.outputContent {
  padding: 10px 10px;
  line-height: 1.5;
  border: solid 1px rgba(118, 118, 118, 0.3);
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.red {
  color: rgb(242, 43, 43);
}

.blue {
  color: rgb(35, 93, 255);
}

.green {
  color: rgb(10, 143, 107);
}
