.wrapper {
}

.smallWrapper {
  display: inline-block;
}

.content {
  text-align: center;
  line-height: 30px;

  border-bottom: 2px solid;
  padding-bottom: 0px;
}

.biggerContent {
  line-height: 30px;

  border-bottom: 2px solid;
  padding-bottom: 4px;
}

.tag {
  font-weight: 600;

  font-size: 0.8125rem;
  border-radius: 0.25rem;

  padding-left: 0.125rem;
  padding-right: 0.125rem;
  padding-top: 0.06125rem;
  padding-bottom: 0.06125rem;

  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.contentRed {
  border-color: rgb(234, 21, 55);
}

.tagRed {
  background-color: rgb(234, 21, 55);
  color: white;
}

.contentYellow {
  border-color: rgb(255, 182, 26);
}

.tagYellow {
  background-color: rgb(255, 182, 26);
  color: white;
}
